[package]
name = "relic-chunky"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true

[dependencies]
byteorder = { workspace = true }
thiserror = { workspace = true }
